                * {
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
                
                html {
                    font-size: 62.5%
                }
                
                @media (max-width:900px) {
                    /* HEADER STARTS */
                    header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: sticky;
                        top: 0;
                        background-color: black;
                        color: white;
                        padding-left: 1em;
                    }
                    .sidebar {
                        height: 100%;
                        width: 0;
                        position: fixed;
                        z-index: 2;
                        top: 0;
                        right: 0;
                        background-color: rgb(17, 17, 17);
                        overflow-x: hidden;
                        transition: 0.5s;
                        padding-top: 60px;
                    }
                    .sidebar a {
                        padding: 8px 8px 8px 32px;
                        text-decoration: none;
                        font-size: 25px;
                        color: #ffffff;
                        display: block;
                        transition: 0.3s;
                    }
                    .sidebar a:hover {
                        color: #ff0000;
                    }
                    .sidebar .closebtn {
                        position: absolute;
                        top: 0;
                        right: 25px;
                        font-size: 36px;
                        margin-left: 50px;
                    }
                    .openbtn {
                        font-size: 20px;
                        cursor: pointer;
                        background-color: rgb(0, 0, 0);
                        color: white;
                        padding: 1.3rem 1.5rem;
                        border: none;
                    }
                    .openbtn:hover {
                        background-color: #444;
                    }
                    .sidebar {
                        padding-top: 15px;
                    }
                    .sidebar a {
                        font-size: 18px;
                    }
                    /* HEADER ENDS */
                    /* main starts  */
                    /* strolling text starts  */
                    .scroll-container {
                        margin-top: 0.5em;
                        overflow: hidden;
                    }
                    .scroll-text {
                        text-align: right;
                        /* animation properties */
                        -moz-transform: translateX(-100%);
                        -webkit-transform: translateX(-100%);
                        transform: translateX(-100%);
                        -moz-animation: my-animation 15s linear infinite;
                        -webkit-animation: my-animation 15s linear infinite;
                        animation: my-animation 15s linear infinite;
                    }
                    .scroll-text h4 {
                        z-index: -1;
                    }
                    @keyframes my-animation {
                        from {
                            -moz-transform: translateX(-100%);
                            -webkit-transform: translateX(-100%);
                            transform: translateX(-100%);
                        }
                        to {
                            -moz-transform: translateX(100%);
                            -webkit-transform: translateX(100%);
                            transform: translateX(100%);
                        }
                    }
                    /* section1 */
                    .section1 {
                        text-align: center;
                        margin-top: 2em;
                    }
                    .section-header {
                        text-transform: uppercase;
                        background-color: black;
                        color: white;
                        padding: 0.5em;
                        font-size: 1.5em;
                    }
                    .section2-content {
                        margin-top: 2em;
                        margin-left: 0.3rem;
                        margin-right: 0.3rem;
                    }
                    .section2-content p {
                        margin: 0.5em;
                        font-size: 1.5em;
                        /* section1 ends*/
                    }
                    /* section2 starts */
                    .section2 {
                        margin-top: 2em;
                    }
                    .section2-div1 h3 {
                        color: red;
                        font-size: 1.5em;
                        text-transform: uppercase;
                    }
                    .section1-img1 {
                        width: 9rem;
                        height: 9rem;
                    }
                    .font-color {
                        color: red;
                        text-transform: capitalize;
                        font-weight: 800;
                    }
                    .section1-div-2-div {
                        display: grid;
                        grid-template-columns: 10rem 23em;
                        margin: 1em;
                    }
                    .section1-div-2-div div {
                        text-align: center;
                    }
                    /* section2 ends */
                    /* footer starts */
                    footer {
                        background-color: black;
                        padding: 1em;
                    }
                    footer nav ul {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        gap: 1em;
                    }
                    footer nav ul a {
                        text-decoration: none;
                        list-style-type: none;
                        color: white;
                        font-family: fantasy;
                        font-size: 1.3em;
                    }
                    .subscribe {
                        display: flex;
                        gap: 2em;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 4em;
                    }
                    .subscribe p {
                        color: rgb(255, 255, 255);
                        text-transform: capitalize;
                        font-size: 1.3em;
                        text-align: center;
                    }
                    .subscribe div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 1em;
                    }
                    .subscribe div input {
                        padding: 0.5em;
                        border: none;
                        background-color: rgb(197, 197, 197);
                        color: white;
                    }
                    .subscribe div label button {
                        padding: 0.5em;
                        border: none;
                        background-color: red;
                        color: white;
                        font-weight: 900;
                        font-size: 1.6em;
                    }
                    .last-div {
                        color: white;
                        text-transform: capitalize;
                        align-items: center;
                        text-align: center;
                        margin-top: 2em;
                    }
                    .last-div i a {
                        color: red;
                        text-decoration: none;
                        font-weight: 900;
                    }
                    /* footer ends */
                }